* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #002339;
  color: #fff;
}

.container {
  margin: 10%;
  max-width: 700px;
  width: 85%;
}

.container h1 {
  font-size: 40px;
  font-weight: 500;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 6px;
}

.container h1 span i {
    font-size: 18px;
}

.display {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 20px 26px;
  margin-top: 50px;
  margin-bottom: 30px;
  transform: scale(1);
  box-shadow: 0 0 15px #019f55;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.display img:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}

.display input {
  flex: 1;
  border: 0;
  outline: 0;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.5s ease-in;
}

.display input:focus {
  color: #00753d;
}

.container button img {
  width: 30px;
  margin-right: 10px;
}

.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #019f55;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  font-size: px;
  font-size: 20px;
  transition: box-shadow 0.3s ease-in ;
}

.container button:hover {
  background-color: #006836;
  box-shadow: 0 0 10px #fff;
}
